<!-- Start Banner Area -->
<section class="vr6-banner-section pt-4">
    <div class="container">
        <div class="row g-4 justify-content-center">
            <div class="col-xl-4 col-md-6">
                <div class="vr6-offer-box" data-background="/resource/img/of-banner-1.jpg" style="background-image: url('/resource/img/of-banner-1.jpg');">
                    <span class="mb-1 d-block text-main-color text-uppercase f  w-semibold fs-sm">150+ Items</span>
                    <h3 class="fw-medium mb-4">Living Room Decor</h3>
                    <a href="#" class="text-uppercase white-btn template-btn">View Collections</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="vr6-offer-box" data-background="/resource/img/of-banner-2.jpg" style="background-image: url('/resource/img/of-banner-2.jpg');">
                    <span class="mb-1 d-block text-main-color text-uppercase fw-semibold fs-sm">150+ Items</span>
                    <h3 class="fw-medium mb-4">Master Office Table</h3>
                    <a href="#" class="text-uppercase white-btn template-btn">View Collections</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="vr6-offer-box" data-background="/resource/img/of-banner-3.jpg" style="background-image: url('/resource/img/of-banner-3.jpg');">
                    <span class="mb-1 d-block text-main-color text-uppercase fw-semibold fs-sm">150+ Items</span>
                    <h3 class="fw-medium mb-4">Suit Modeno Chair</h3>
                    <a href="#" class="text-uppercase white-btn template-btn">View Collections</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
