<!-- Start Hero Area -->
<section class="vr6-hero-section mt-4 overflow-hidden">
    <div class="container">
        <div class="vr6-hero-custom-row justify-content-end">
            <div class="vr6-hero-box">
                <div class="vr6-hero-slider">
                    <div class="vr6-hero-single">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-lg-6">
                                <div class="vr6-hero-content position-relative z-2">
                                    <span>60% OFF Summer Sale</span>
                                    <h1 class="mt-4 mb-40">Limited Edition</h1>
                                    <ul class="vr6-hero-list mb-40">
                                        <li><i class="fas fa-check"></i>Save 20% on order more than $2500</li>
                                        <li><i class="fas fa-check"></i>Delivery in 2 days</li>
                                    </ul>
                                    <a href="#" class="template-btn white-btn">Shop Now</a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6">
                                <div class="product-image position-relative z-1">
                                    <span class="circle-shape"></span>
                                    <img src="/resource/img/chair.png" alt="not found" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vr6-hero-single">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-lg-6">
                                <div class="vr6-hero-content position-relative z-2">
                                    <span>60% OFF Summer Sale</span>
                                    <h1 class="mt-4 mb-40">Limited Edition</h1>
                                    <ul class="vr6-hero-list mb-40">
                                        <li><i class="fas fa-check"></i>Save 20% on order more than $2500</li>
                                        <li><i class="fas fa-check"></i>Delivery in 2 days</li>
                                    </ul>
                                    <a href="#" class="template-btn white-btn">Shop Now</a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6">
                                <div class="product-image position-relative z-1">
                                    <span class="circle-shape"></span>
                                    <img src="/resource/img/chair-2.png" alt="not found" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Area -->

<script defer type="text/javascript">
    //========= Hero Slider
    document.addEventListener('DOMContentLoaded', () => {
        $(".vr6-hero-slider").slick({
            slidesToShow: 1,
            arrows: false,
            autoplay: true,
            dots: true,
        });
    })
</script>
