<!-- Start Shipping Info -->
<section class="feature-section overflow-hidden vr5-feature-box vr6-light-bg">
    <div class="container-1700">
        <div class="row align-items-center g-5">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="icon-box d-md-flex align-items-center text-center text-md-start border-right wow fadeInUp" data-wow-duration="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-name: fadeInUp;">
                        <span class="icon-wrapper mb-3 mb-md-0 d-inline-block">
                            <img src="/resource/img/icons/box.svg" alt="box" class="img-fluid">
                        </span>
                    <div>
                        <h6 class="fw-semibold mb-0 fs-18">Shipping</h6>
                        <span class="fs-sm">{{ parameter('var_shipping', 'Free shippng for orders over $150') }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="icon-box d-md-flex align-items-center text-center text-md-start border-right wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <span class="icon-wrapper mb-3 mb-md-0 d-inline-block">
                            <img src="/resource/img/icons/shield.svg" alt="shield" class="img-fluid">
                        </span>
                    <div>
                        <h6 class="fw-semibold mb-0 fs-18">Easy Return.</h6>
                        <span class="fs-sm">{{ parameter('var_return', 'We will replace up to 1 year') }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="icon-box d-md-flex align-items-center text-center text-md-start border-right wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <span class="icon-wrapper mb-3 mb-md-0 d-inline-block">
                            <img src="/resource/img/icons/cards.svg" alt="cards" class="img-fluid">
                        </span>
                    <div>
                        <h6 class="fw-semibold mb-0 fs-18">Flexible Payment</h6>
                        <span class="fs-sm">{{ parameter('var_payment', 'Pay with multiple credit cards') }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="icon-box d-md-flex align-items-center text-center text-md-start wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <span class="icon-wrapper mb-3 mb-md-0 d-inline-block">
                            <img src="/resource/img/icons/comment.svg" alt="comment" class="img-fluid">
                        </span>
                    <div>
                        <h6 class="fw-semibold mb-0 fs-18">Online Support</h6>
                        <span class="fs-sm">{{ parameter('var_support', '24 hours a day, 7 days a week') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Shipping Info -->
