<div class="vr6-header-search text-end">
    <form action="/search" class="vr6-header-search-form">
        <input type="text" name="q" placeholder="Search your keywords..." required>
        <button type="submit" class="template-btn primary-btn">Search Here</button>
    </form>
</div>
