<!--mobile menu start-->
<div class="mobile-menu">
    <a href="javascript:void(0)" class="close"><i class="fas fa-xmark"></i></a>
    <a href="/" class="logo py-3">Furniture</a>
    <ul class="mobile-nav-menu">
        <li class="has-submenu">
            <a href="javascript:void(0)">Home</a>
            <i class="fas fa-angle-down"></i>
            <ul class="submenu-wrapper">
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
                <li><a href="#">Page 4</a></li>
                <li><a href="#">Page 5</a></li>
                <li><a href="#">Page 6</a></li>
            </ul>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
<!--mobile menu end-->
